.p {
  font-size: 14px;
  margin: 5px;
}


/* 하시발 */

.add {
  z-index: 2;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  height: 550px;
  font-size: 20px;
  background-color: white;
}

.add h3 {
  width: 100%;
  height: 44px;
  color: rgb(0, 0, 0);
  background-color: #ceeafa;
  margin-top: 0px;
  border-color: rgb(0, 0, 0);
  border-width: 2px 0px 2px 0px;
  border-style: solid;
  font-size: 20px;
  text-align: center;
}

.add h3 p {
  margin: 10px;
}

form {
  height: 65%;
  position: relative;
}

.addpinbtn {
  position: absolute;
  left: 14.7%;
  bottom: 0px;
}
