.mapcontent {
  text-align: center;
  position: absolute;
  min-width: 320px;
  width: 100%;
  height: 100%;
}

.Mapstyle {
  z-index: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.currentlocation {
  position: absolute;
  right: 5px;
  bottom: 10px;
  z-index: 1;
  border: none;
  background: none;
}

.etc {
  position: absolute;
  right: 0px;
  top: 1px;
  z-index: 11;
  border: none;
  background: none;
}

.menu {
  position: absolute;
  right: 10px;
  bottom: 20px;
  z-index: 10;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}


.hide {
  display: none;
}




.overlay_info {
  border-radius: 6px;
  margin-bottom: 12px;
  float: left;
  position: relative;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  background-color: #fff;
}
.overlay_info:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.overlay_info a {
  display: block;
  background: #ceeafa;
  background: #ceeafa
    url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png)
    no-repeat right 14px center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 12px 36px 12px 14px;
  font-size: 14px;
  border-radius: 6px 6px 0 0;
}
.overlay_info a strong {
  background: url(https://img.icons8.com/material-outlined/24/000000/smoking.png)
    no-repeat;
  padding-left: 40px;
}
.overlay_info .desc {
  padding: 14px;
  position: relative;
  min-width: 190px;
  height: 56px;
}
.overlay_info img {
  vertical-align: top;
  width: 50px;
}

.overlay_info .address {
  font-size: 12px;
  color: #333;
  position: absolute;
  left: 14px; /* 원래 80px */
  right: 14px;
  top: 30px; /* 원래 24px */
  white-space: normal;
}
.overlay_info:after {
  content: "";
  position: absolute;
  margin-left: -11px;
  left: 50%;
  bottom: -12px;
  width: 22px;
  height: 12px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png)
    no-repeat 0 bottom;
}
.hamburger-react {
  z-index: 15;
}

.adddiv{
  width: 150px;
  text-align: center;
  background-color: #ceeafa;
}