.button{
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  background: #ceeafa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  width: 70%;
  margin: 2px;
  color: black;
  }