@import url('https://fonts.googleapis.com/css?family=Jura:400');
.damlogin {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  animation: Gradient 15s ease infinite;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  border: none;
  height: 100%;
  width: 100%;
  padding: 15px;
  position: center;
  background-size: cover;
  font-size: 30px;
  padding: 0;
  outline: none;
  text-align: center;
  position: absolute;
  font-size: 30px;
  font-family: Jura, Arial; font-weight: 400;
}

.damtime{
  font-size: 50px;
}

/* .damback {
  /* 마진이 %일 필요가 없고 패딩이 없으니 너무 답답함, 좌우 마진도 없으면 radius 넣는 의미가 퇴색됨
  margin: 30px 15px 0px 15px;
  background: white;
  /* 사이즈 구분용 색 변경 */
  /* font-size: 20px;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 30px; 
} */
.text {
  /* background: none;
  border: none;
  font-style: italic;
  text-decoration: underline; */
  padding: 10px;
      border:1px solid rgba(0,0,0,0);
      border-radius: 5px;
      background: #fff;
      box-shadow: 0 1px 3px rgba(0,0,0,0.2);
      width: 56%;
}
.damback2 {
   margin-top: 30%;
    background-color: rgba(255, 255, 255, 0.608);
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.tit{
    margin-bottom: 5px;
      text-align: center;
      text-shadow: 0 4px 16px #fff;
      font-size: 22px;
      font-weight: 100;
    padding: 5px;
        background-color: rgba(255, 255, 255, 0.767);
        border-radius: 5px;
}
.tit2 {
    text-align: left;
    margin-left: 10px;
    font-size: 30px;
    margin-bottom: 5px;
    padding: 5px;
}
a.hover {
        background-color: #eef;
        border: 1px solid #aaf;
}
.butto {
  display: block;
  position: relative;
  border-radius: 25px;
  height: 45px;
  font-size: medium;
  overflow: hidden;
  margin: 0 auto;
  width: 56%;
  background-color: rgba(255, 255, 255, 0.608);
  /* background: linear-gradient(270deg, transparent, #dc7d09); */

  color: black;
}
.register {
  text-align: left;
  background-color: aliceblue;
  background-size: auto;
  width: 100%;
  height: 100%;
  padding: 5px 30px 15px 30px;
}

