.modititle {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 800;
}
.modimap {
    margin: 30px;
}
.modibtn {
    margin-top: 20px;
}
.modibtn2 {
    margin-bottom: 30px;
}

.delmarker{
    float: right;
    width: 100px;
    padding: 0px;
    right: 10px;
    bottom: 0px;
    padding: 10px;
    font-size: 15px;
}