.modititle {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 800;
}
.modimap {
    margin: 30px;
}
.modibtn {
    margin-top: 20px;
}
.modibtn2 {
    margin-bottom: 60px;
}